.appeal__text{
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    text-decoration: none;
    min-width: fit-content;
    font-size: 14px;
    cursor: pointer;
    color: #FFFFFF;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    cursor: default;
    margin-bottom: 10px;
    max-width: 600px;
    text-align: justify;
    justify-self: center;
}
}